{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>Costume Measurements</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h2>Actors Measurements</h2>
      </div>
    {% block content %}
    {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>

  
