{% extends 'base.html' %}

{% block content %}
<div>
  <table>
    <tr>
      <td>Name</td>
      <td>{{ actor }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ actor.phone_number}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ actor.email }}</td>
    </tr>
  </table>
</div>
{% endblock content %}
