{% extends 'base.html' %}

{% block content %}


{% if actor_list %}
<ul class="nav nav-pills nav-stacked">
  <li id="li-actor-add">
    <a href="{% url 'actors:add_actor' %}">Add new actor</a>
  </li>
  {% for actor in actor_list %}
  <li id="li-actor-{{actor.id}}">
    <a href="{% url 'actors:actor' actor.id %}">{{actor}}</a></li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-info">
  <p> No actors are in the system </p>
  <a href="{% url 'actors:add_actor' %}" class="btn">Add new actor</a>
</div>
{% endif %}

{% endblock content %}
